/*@media (max-width: 750px) {*/
/*    body .wrapper header {*/
/*        height: 100px;*/
/*    }*/
/*}*/

@media (max-width: 895px) {
    body .wrapper header .blockForBottomOfHeader .container .blockForInput {
        top: 0px;
    }

    body .wrapper header .blockFordata {
        height: 40px;
    }


    body .wrapper header .blockFordata time {
        font-size: 15px;
    }

    body .wrapper header .blockForBottomOfHeader .blockForClock .hour,
    body .wrapper header .blockForBottomOfHeader .blockForClock .minutes,
    body .wrapper header .blockForBottomOfHeader .blockForClock .seconds {
        width: 50px;
        height: 50px;
    }

    body .wrapper header .blockForBottomOfHeader .blockForClock .minutes {
        width: 40px;
        height: 40px;
        top: 10px;
        left: -20px;
    }

    body .wrapper header .blockForBottomOfHeader .blockForClock .seconds {
        width: 35px;
        height: 35px;
        top: 20px;
        left: -40px;
    }


    body .wrapper header .blockForBottomOfHeader form {
        row-gap: 5px;
    }

    .spanForHour, .spanForMinutes, .spanForSekunds {
        font-size: 20px;
    }

    .spanForMinutes {
        font-size: 18px;
    }

    .spanForSekunds {
        font-size: 16px;
    }

    .labelCheck {
        display: none;
    }

    .inputCheck {
        width: 180px;
        font-size: 18px;
        padding: 4px;
    }

    .titleCity {
        font-size: 25px;
    }

    body .wrapper header .blockForBottomOfHeader .blockForClock .seconds {
        width: 25px;
        height: 25px;
        top: 20px;
        left: -29px;
    }
}

@media (max-width: 700px) {
    body .wrapper header .blockForBottomOfHeader .container {
        flex-direction: column;
        row-gap: 15px;
    }
}

@media (max-width: 500px) {
    .blockForInput .inputCheck {
        width: 180px;
    }

    .imgRainbow {
        display: none;
    }

    body .wrapper header .blockForBottomOfHeader {
        justify-content: space-around;
    }
}

@media (max-width: 400px) {
    .blockForInput .inputCheck {
        width: 125px;
        font-size: 14px;
    }

    body .wrapper header .blockForBottomOfHeader {
        justify-content: center;
    }

    body .wrapper header .blockForBottomOfHeader .blockForClock .hour,
    body .wrapper header .blockForBottomOfHeader .blockForClock .minutes,
    body .wrapper header .blockForBottomOfHeader .blockForClock .seconds {
        width: 45px;
        height: 45px;
    }

    body .wrapper header .blockForBottomOfHeader .blockForClock .minutes {
        width: 35px;
        height: 35px;
    }

    body .wrapper header .blockForBottomOfHeader .blockForClock .seconds {
        width: 25px;
        height: 25px;
        top: 20px;
        left: -29px;
        font-size: 12px;
    }

}
