body .wrapper main {
    background-color: #dadada;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100% - 170px);
    /*    height: calc(100% - 170px);*/
    font-size: 15px;
    position: relative;


}

.rain {
    background-image: url('../assets/backgroundImages/rain.gif');
    background-size: 400px 100%;
}

.nightBackGroud {
    background-image: url('../assets/backgroundImages/night.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.sunBackGroud {
    background-image: url('../assets/backgroundImages/sun.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

body .wrapper main .blockForWeatherToday {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

}

body .wrapper main .blockForWeatherToday .mainInformation,
body .wrapper main .blockForWeatherToday .otherInformation {
    padding: 8px;
    background-color: #3296d7;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 1px #1f1f1f, 0px 0px 8px 0px inset #2c0174;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 11;
}

body .wrapper main .blockForWeatherToday .mainInformationH2 {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0px 1px 2px black;
    padding: 1px;
    background-color: #1cfff257;
    border-radius: 20px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 5px 0px inset black;
}

body .wrapper main .blockForLastCities {
    display: none;
    position: absolute;
    left: 5px;
    box-shadow: 1px 1px 5px 2px #5353db, -1px -1px 5px 2px #000000bd, 0px 0px 60px 1px inset #5b5bffcf;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    row-gap: 10px;

    z-index: 11;
}

.h2History {
    color: #001e5e;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
}

.ulHistory {
    color: #002d54;
    font-size: 19px;
    font-weight: bold;
    text-shadow: 0px 0px 1px white;
    text-align: left;
    padding: 0;
    margin: 0;
}

.liHistory {
    padding-left: 5px;
}

.liHistory:first-child {
    color: #000000;
}

.liHistory:hover {
    cursor: pointer;
    color: #004b8a;
}

.liHistory::marker {
    content: '#';
    color: #053ca1;
    text-shadow: 0px 0px 1px black;
}

body .wrapper main .blockForWeatherToday .otherInformation {
    min-width: 290px;
}

.imgDecribeWeather {
    width: 80px;
}

.imgSunriseSunset {
    width: 80px;
}


span.degree,
.nowTime,
.otherInformation time,
.mainInformation time,
.otherInformationSpan {
    font-size: 20px;
    color: #fff700;
    padding-left: 4px;
    text-shadow: 0px 0px 5px black;
    font-weight: bold;
    font-family: cursive;
}

.otherInformationSpan img {
    width: 30px;
    position: relative;
    top: 6px;
    left: 20px;
}

.titleInTable {
    color: white;
    font-size: 24px;
    text-shadow: 0px 1px 2px black;
    font-family: cursive;
    text-align: center;
}

time {
    font-size: 18px;
    text-align: center;
}

.nowTime {
    text-shadow: 1px 1px 5px black;
}


.whichWeatherTd {
    padding-left: 25px;
}

.whichWeatherTd div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.currentWeatherSpan {
    position: relative;
    top: -20px;
}

.sunsetTd,
.sunriseTd {
    text-align: right;
    padding-right: 10px;
}

.sunRiseSetDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.localTimeSpan,
.timeClockTd {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 16px;
    text-shadow: 0px 1px 5px black;
}

.timeClockTd {
    font-size: 19px;
}

body .wrapper main .blockForWeatherToday .blockForFewDays {
    position: absolute;
    right: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 2px #5353db, -1px -1px 5px 2px #000000bd, 0px 0px 60px 1px inset #5b5bffcf;
    background-color: #ffffff;
    border-radius: 15px;

    z-index: 11;
}

body .wrapper main .blockForWeatherToday .oneDay {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
}

body .wrapper main .blockForWeatherToday .day,
body .wrapper main .blockForWeatherToday .night {

    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2px;
}

body .wrapper main .blockForWeatherToday .day {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(0 160 214 / 33%);
    box-shadow: 0px 0px 4px 1px inset #003185;
}

body .wrapper main .blockForWeatherToday .night {
    background-color: rgba(70, 73, 73, 0.68);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 4px 0px inset black;
}

.weather5daysTitle {
    color: #002d54;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0px 0px 1px white;
    text-align: left;
    padding: 0;
    margin: 0;
}

.timeFevDays {
    color: #0b0055;
    font-size: 13px;
    text-shadow: 0px 1px 2px black;
}

.iconImg {
    width: 20px;
    scale: 2;
    padding-right: 4px;
    padding-left: 5px;
}


.fiveDayText {
    font-size: 15px;
    color: #0b0b7a;
    font-weight: bold;
    text-shadow: 0px 0px 1px #6060b4;
}
