body .wrapper main {
    background-color: #dadada;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 170px);
    font-size: 15px;
    position: relative;
    /*background-image: url("../assets/rain.gif");*/

}

body .wrapper main .blockForWeatherToday {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

}

body .wrapper main .blockForWeatherToday .mainInformation,
body .wrapper main .blockForWeatherToday .otherInformation {
    padding: 8px;
    background-color: #3296d7;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 1px #1f1f1f, 0px 0px 8px 0px inset #2c0174;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body .wrapper main .blockForLastCities {
    display: none;
    position: absolute;
    left: 5px;
    box-shadow: 1px 1px 5px 2px #5353db, -1px -1px 5px 2px #000000bd, 0px 0px 60px 1px inset #5b5bffcf;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    row-gap: 10px;
}

.h2History {
    color: #001e5e;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
}

.ulHistory {
    color: #002d54;
    font-size: 19px;
    font-weight: bold;
    text-shadow: 0px 0px 1px white;
    text-align: left;
    padding: 0;
    margin: 0;
}

.liHistory {
    padding-left: 5px;
}

.liHistory:first-child {
    color: #000000;
}

.liHistory:hover {
    cursor: pointer;
    color: #004b8a;
}

.liHistory::marker {
    content: '#';
    color: #053ca1;
    text-shadow: 0px 0px 1px black;
}

body .wrapper main .blockForWeatherToday .otherInformation {
    min-width: 290px;
}

.imgDecribeWeather {
    width: 80px;
}

.imgSunriseSunset {
    width: 80px;
}


span.degree,
.nowTime,
time,
.otherInformationSpan {
    font-size: 20px;
    color: #fff700;
    padding-left: 4px;
    text-shadow: 0px 0px 5px black;
    font-weight: bold;
    font-family: cursive;
}

.otherInformationSpan img {
    width: 30px;
    position: relative;
    top: 6px;
    left: 20px;
}

.titleInTable {
    color: white;
    font-size: 24px;
    text-shadow: 0px 1px 2px black;
    font-family: cursive;
    text-align: center;
}

time {
    font-size: 18px;
    text-align: center;
}

.nowTime {
    text-shadow: 1px 1px 5px black;
}


.whichWeatherTd {
    padding-left: 25px;
}

.whichWeatherTd div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.currentWeatherSpan {
    position: relative;
    top: -20px;
}

.sunsetTd,
.sunriseTd {
    text-align: right;
    padding-right: 10px;
}

.sunRiseSetDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.localTimeSpan,
.timeClockTd {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 16px;
    text-shadow: 0px 1px 5px black;
}

.timeClockTd {
    font-size: 19px;
}
